@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');

/* GENERAL */
html {
    overflow-x: hidden;
}

body {
    background: #ffffff;
    color: black;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: #ffffff;
}

#ticket_container {
    width: 100%;
    max-width: 360px;
    margin: auto;
    background: white;
    padding: 10px;
    box-sizing: border-box;
}

#ticket_container .logo {
    padding: 0 15px 15px;
    background: white;
    border-bottom: 1px solid #d2d2d2;
}

#ticket_container .logo img {
    width: 100%;
    max-width: 201px;
    margin: auto;
    display: block;
}

#ticket_container .ticket_box {
    position: relative;
}

#ticket_container h1 {
    font-size: 20px;
    margin: 10px 0 10px;
    width: 220px;
    line-height: 38px;
}

#ticket_container h2 {
    font-size: 15px;
    margin: 0 0 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight:  normal;
    background: #f1f1f1;
    padding: 9px 10px;
}

#ticket_container .status {
    background: red;
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
}

#ticket_container .status.Attivo {
    background: #4CAF50;
}

#ticket_container hr {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
}

#ticket_container #convalida {
    background: #FF9800;
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
}

#ticket_container #convalida:hover {
    background: #ce7b00;
    box-shadow: black 1px 1px 10px -5px;
}