.parserShortcodeError {
    background: rgba(244, 67, 54, 0.53);
    padding: 15px;
    border: 2px dashed #bb2c22;
    color: black;
    text-align: center;
}

/* GALLERIA */
.ms-block-gallery .ms-gallery .ms-gallery-image > img {
    max-width: 100%;
}
.ms-gallery-carousel .owl-dots {
    display: block;
    text-align: center;
}
.ms-gallery-carousel .owl-dots button {
    background: black;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 0.3;
}
.ms-gallery-carousel .owl-dots button.active {
    opacity: 0.7;
}

/* THUMBNAILS */
.ms-gallery-thumbnails .ms-gallery-image {
    border: 1px solid #f2f2f2;
    opacity: 0.8;
    padding: 3px;
    display: block;
}

.ms-gallery-thumbnails [data-type="carousel"] .ms-gallery-image {
    margin-bottom: 15px;
    margin: 0 5px;
    padding: 3px;
}

.ms-gallery-thumbnails [data-type="grid"] .ms-gallery-image {
    margin-bottom: 15px;
}

.ms-gallery-thumbnails .ms-gallery-image.active,
.ms-gallery-thumbnails .ms-gallery-image:hover {
    border-color: #86878a;
    opacity: 1;
}

.ms-gallery-thumbnails {
    margin: 15px 0 -15px;
}

/* ================= FORM ================= */
.ms-shortcode-element.ms-form {

}
.ms-form-col {
    margin-bottom: 15px;
}
.ms-form-col label {
    display: block;
    font-weight: 500;
}
.ms-input,
.ms-textarea {
    padding: 10px;
    display: block;
    border: 1px solid #dfdfdf;
    width: 100%;
}

.ms-input.error,
.ms-textarea.error {
    border-color: red;
    border-style: dashed;
}

.ms-form-button {
    display: block;
}


/* ================= PULSANTI ================= */
[class*="ms-btn-"] {
    color: white;
    padding: 10px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    outline: none;
    box-shadow: none;
    z-index: 2;
    overflow: hidden;
    display: inline-block;
}

[class*="ms-btn-"]:hover {
    color: white;
}

[class*="ms-btn-"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s;
}

[class*="ms-btn-"]:focus {
    outline: none;
    box-shadow: inset black 5px 5px 10px -10px;
    color: white;
}

[class*="ms-btn-"].ms-btn-light:focus,
[class*="ms-btn-"].ms-btn-light:hover {
    color: black;
}

[class*="ms-btn-"]:hover:before {
    opacity: 0.1;
}

/* ACCORDION */
.ms-accordion-faq-content {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.ms-accordion-faq-content .ms-faq-question {
    display: block;
    font-size: 150%;
    padding: 10px 0 0;
    outline: none;
    cursor: pointer;
    line-height: 1;
}

.ms-accordion-faq-content .ms-faq-answer + .ms-faq-question {
    border-top: 1px solid black;
    margin-top: 15px;
}

.ms-accordion-faq-content .ms-faq-question:after {
    content: '+';
    float: right;
}

.ms-accordion-faq-content .ms-faq-question.ui-state-active:after {
    content: '-';
}

.ms-accordion-faq-content .ms-faq-answer {
    margin-top: 10px;
}

/* POPUP */
.ms-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.ms-popup.darkOverlay {
    background: rgba(0, 0, 0, 0.5);
}
.ms-popup.lightOverlay {
    background: rgba(255, 255, 255, 0.5);
}
.ms-popup-container {
    max-width: 1520px;
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    max-height: 100%;
    overflow: auto;
}
.ms-popup-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 2;
}
.ms-popup-close:hover {
    opacity: 1;
}
.ms-popup-close:before, .ms-popup-close:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.ms-popup-close:before {
    transform: rotate(45deg);
}
.ms-popup-close:after {
    transform: rotate(-45deg);
}
.ms-popup-content > .ms-row {
    margin: 0;
}

/* ================= TITLE DIVIDER =============== */
.ms-divider-with-title {
    display: flex;
    width: 100%;
    align-items: center;
}

.ms-divider-with-title.ms-divider-right {
    justify-content: flex-end;
}

.ms-divider-with-title.ms-divider-left {
    justify-content: flex-start;
}

.ms-divider-with-title.ms-divider-center {
    justify-content: center;
}

.ms-divider-with-title > span {
    padding: 5px 0;
    flex: 0 0 auto;
}
.ms-divider-with-title.ms-divider-left > span {
    padding-right: 15px;
}
.ms-divider-with-title.ms-divider-right > span {
    padding-left: 15px;
}
.ms-divider-with-title.ms-divider-center > span {
    padding: 5px 15px;
}

.ms-divider-with-title .ms-divider {
    position: relative;
}

/* VIDEO EMEBED */
.ms-embed-video {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    background: white;
    position: relative;
}

.ms-embed-video[data-proportion="16:9"] {
    padding-top: 56.25%;
}

.ms-embed-video[data-proportion="4:3"] {
    padding-top: 75%;
}

.ms-embed-video[data-proportion="2.35:1"] {
    padding-top: 42.553%;
}

.ms-embed-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* TABS */
.ms-tabs {

}

.ms-tabs .ms-tab-nav {
    all: unset;
    display: block;
    list-style: none;
    margin-left: 0;
}

.ms-tabs .ms-tab-nav > li {
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0;
}

.ms-tabs .ms-tab-nav > li > a {
    background: #f2f2f2;
    display: block;
    margin-right: 5px;
    padding: 10px 15px;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
    margin-bottom: -1px;
}

.ms-tabs .ms-tab-nav > li.ms-tab-active > a {
    background: white;
}

.ms-tabs .ms-tab-element {
    border: 1px solid #f2f2f2;
    padding: 15px;
    display: none;
}

.ms-tabs .ms-tab-element.ms-tab-active {
    display: block;
}

@media (min-width: 769px) {
    .ms-tabs.ms-tabs-vertical {
        display: flex;
    }

    .ms-tabs.ms-tabs-vertical .ms-tab-link {
        margin-right: 0;
    }

    .ms-tabs.ms-tabs-vertical .ms-tab-nav {
    }

    .ms-tabs.ms-tabs-vertical .ms-tab-nav > li {
        width: 100%;
    }

    .ms-tabs.ms-tabs-vertical .ms-tab-element {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .ms-tabs .ms-tab-nav > li {
        width: 100%;
    }
    .ms-tabs .ms-tab-nav > li > a {
        margin-right: 0;
    }
}

/* COUNTDOWN */
.ms-countdown span {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    padding: 5px;
    border-right: 0;
}

.ms-countdown span b {
    display: block;
    font-size: 14px;
}

/* CAROSELLO */
.ms-carousel {
    position: relative;
    margin: -1px;
    width: auto;
}

.ms-carousel-item > .ms-row {
    padding: 0 !important;
    margin: 0 -1px 0 0 !important;
}

.ms-carousel .owl-dots {
    width: 100%;
    display: block;
    margin: 15px 0 0;
    height: 15px;
}

.ms-carousel .owl-dots > button.owl-dot {
    background: black;
    opacity: 0.2;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.ms-carousel .owl-dots > button.owl-dot.active {
    opacity: 0.5;
}

/* ================= GRID SYSTEM ================= */
.ms-row {
    width: auto;
    float: none;
    min-width: 100%;
}
.ms-row, .ms-row-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    z-index: 0;
}
.ms-row [class*="ms-col"] {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
}

.ms-row [class*="ms-col"] > .ms-visual-block {
    /* height: 100%; */
}

.ms-col-12 {
    width: 100%;
}
.ms-col-11 {
    width: 91.66666667%;
}
.ms-col-10 {
    width: 83.33333333%;
}
.ms-col-9 {
    width: 75%;
}
.ms-col-8 {
    width: 66.66666667%;
}
.ms-col-7 {
    width: 58.33333333%;
}
.ms-col-6 {
    width: 50%;
}
.ms-col-5 {
    width: 41.66666667%;
}
.ms-col-4 {
    width: 33.33333333%;
}
.ms-col-3 {
    width: 25%;
}
.ms-col-2 {
    width: 16.66666667%;
}
.ms-col-1 {
    width: 8.33333333%;
}

@media (min-width: 1201px) {
    .ms-lg-hidden {
        display: none;
    }
    .ms-col-pull-12 {
        right: 100%;
    }
    .ms-col-pull-11 {
        right: 91.66666667%;
    }
    .ms-col-pull-10 {
        right: 83.33333333%;
    }
    .ms-col-pull-9 {
        right: 75%;
    }
    .ms-col-pull-8 {
        right: 66.66666667%;
    }
    .ms-col-pull-7 {
        right: 58.33333333%;
    }
    .ms-col-pull-6 {
        right: 50%;
    }
    .ms-col-pull-5 {
        right: 41.66666667%;
    }
    .ms-col-pull-4 {
        right: 33.33333333%;
    }
    .ms-col-pull-3 {
        right: 25%;
    }
    .ms-col-pull-2 {
        right: 16.66666667%;
    }
    .ms-col-pull-1 {
        right: 8.33333333%;
    }
    .ms-col-pull-0 {
        right: auto;
    }
    .ms-col-push-12 {
        left: 100%;
    }
    .ms-col-push-11 {
        left: 91.66666667%;
    }
    .ms-col-push-10 {
        left: 83.33333333%;
    }
    .ms-col-push-9 {
        left: 75%;
    }
    .ms-col-push-8 {
        left: 66.66666667%;
    }
    .ms-col-push-7 {
        left: 58.33333333%;
    }
    .ms-col-push-6 {
        left: 50%;
    }
    .ms-col-push-5 {
        left: 41.66666667%;
    }
    .ms-col-push-4 {
        left: 33.33333333%;
    }
    .ms-col-push-3 {
        left: 25%;
    }
    .ms-col-push-2 {
        left: 16.66666667%;
    }
    .ms-col-push-1 {
        left: 8.33333333%;
    }
    .ms-col-push-0 {
        left: auto;
    }
    .ms-col-offset-12 {
        margin-left: 100%;
    }
    .ms-col-offset-11 {
        margin-left: 91.66666667%;
    }
    .ms-col-offset-10 {
        margin-left: 83.33333333%;
    }
    .ms-col-offset-9 {
        margin-left: 75%;
    }
    .ms-col-offset-8 {
        margin-left: 66.66666667%;
    }
    .ms-col-offset-7 {
        margin-left: 58.33333333%;
    }
    .ms-col-offset-6 {
        margin-left: 50%;
    }
    .ms-col-offset-5 {
        margin-left: 41.66666667%;
    }
    .ms-col-offset-4 {
        margin-left: 33.33333333%;
    }
    .ms-col-offset-3 {
        margin-left: 25%;
    }
    .ms-col-offset-2 {
        margin-left: 16.66666667%;
    }
    .ms-col-offset-1 {
        margin-left: 8.33333333%;
    }
    .ms-col-offset-0 {
        margin-left: 0%;
    }
}
@media (max-width: 767px) {
    .ms-xs-hidden {
        display: none;
    }
    [class*="ms-col-"] {
        width: 100%;
    }
    .ms-col-xs-12 {
        width: 100%;
    }
    .ms-col-xs-11 {
        width: 91.66666667%;
    }
    .ms-col-xs-10 {
        width: 83.33333333%;
    }
    .ms-col-xs-9 {
        width: 75%;
    }
    .ms-col-xs-8 {
        width: 66.66666667%;
    }
    .ms-col-xs-7 {
        width: 58.33333333%;
    }
    .ms-col-xs-6 {
        width: 50%;
    }
    .ms-col-xs-5 {
        width: 41.66666667%;
    }
    .ms-col-xs-4 {
        width: 33.33333333%;
    }
    .ms-col-xs-3 {
        width: 25%;
    }
    .ms-col-xs-2 {
        width: 16.66666667%;
    }
    .ms-col-xs-1 {
        width: 8.33333333%;
    }
    .ms-col-xs-pull-12 {
        right: 100%;
    }
    .ms-col-xs-pull-11 {
        right: 91.66666667%;
    }
    .ms-col-xs-pull-10 {
        right: 83.33333333%;
    }
    .ms-col-xs-pull-9 {
        right: 75%;
    }
    .ms-col-xs-pull-8 {
        right: 66.66666667%;
    }
    .ms-col-xs-pull-7 {
        right: 58.33333333%;
    }
    .ms-col-xs-pull-6 {
        right: 50%;
    }
    .ms-col-xs-pull-5 {
        right: 41.66666667%;
    }
    .ms-col-xs-pull-4 {
        right: 33.33333333%;
    }
    .ms-col-xs-pull-3 {
        right: 25%;
    }
    .ms-col-xs-pull-2 {
        right: 16.66666667%;
    }
    .ms-col-xs-pull-1 {
        right: 8.33333333%;
    }
    .ms-col-xs-pull-0 {
        right: auto;
    }
    .ms-col-xs-push-12 {
        left: 100%;
    }
    .ms-col-xs-push-11 {
        left: 91.66666667%;
    }
    .ms-col-xs-push-10 {
        left: 83.33333333%;
    }
    .ms-col-xs-push-9 {
        left: 75%;
    }
    .ms-col-xs-push-8 {
        left: 66.66666667%;
    }
    .ms-col-xs-push-7 {
        left: 58.33333333%;
    }
    .ms-col-xs-push-6 {
        left: 50%;
    }
    .ms-col-xs-push-5 {
        left: 41.66666667%;
    }
    .ms-col-xs-push-4 {
        left: 33.33333333%;
    }
    .ms-col-xs-push-3 {
        left: 25%;
    }
    .ms-col-xs-push-2 {
        left: 16.66666667%;
    }
    .ms-col-xs-push-1 {
        left: 8.33333333%;
    }
    .ms-col-xs-push-0 {
        left: auto;
    }
    .ms-col-xs-offset-12 {
        margin-left: 100%;
    }
    .ms-col-xs-offset-11 {
        margin-left: 91.66666667%;
    }
    .ms-col-xs-offset-10 {
        margin-left: 83.33333333%;
    }
    .ms-col-xs-offset-9 {
        margin-left: 75%;
    }
    .ms-col-xs-offset-8 {
        margin-left: 66.66666667%;
    }
    .ms-col-xs-offset-7 {
        margin-left: 58.33333333%;
    }
    .ms-col-xs-offset-6 {
        margin-left: 50%;
    }
    .ms-col-xs-offset-5 {
        margin-left: 41.66666667%;
    }
    .ms-col-xs-offset-4 {
        margin-left: 33.33333333%;
    }
    .ms-col-xs-offset-3 {
        margin-left: 25%;
    }
    .ms-col-xs-offset-2 {
        margin-left: 16.66666667%;
    }
    .ms-col-xs-offset-1 {
        margin-left: 8.33333333%;
    }
    .ms-col-xs-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .ms-md-hidden {
        display: none;
    }
    .ms-col-md-12 {
        width: 100%;
    }
    .ms-col-md-11 {
        width: 91.66666667%;
    }
    .ms-col-md-10 {
        width: 83.33333333%;
    }
    .ms-col-md-9 {
        width: 75%;
    }
    .ms-col-md-8 {
        width: 66.66666667%;
    }
    .ms-col-md-7 {
        width: 58.33333333%;
    }
    .ms-col-md-6 {
        width: 50%;
    }
    .ms-col-md-5 {
        width: 41.66666667%;
    }
    .ms-col-md-4 {
        width: 33.33333333%;
    }
    .ms-col-md-3 {
        width: 25%;
    }
    .ms-col-md-2 {
        width: 16.66666667%;
    }
    .ms-col-md-1 {
        width: 8.33333333%;
    }
    .ms-col-md-pull-12 {
        right: 100%;
    }
    .ms-col-md-pull-11 {
        right: 91.66666667%;
    }
    .ms-col-md-pull-10 {
        right: 83.33333333%;
    }
    .ms-col-md-pull-9 {
        right: 75%;
    }
    .ms-col-md-pull-8 {
        right: 66.66666667%;
    }
    .ms-col-md-pull-7 {
        right: 58.33333333%;
    }
    .ms-col-md-pull-6 {
        right: 50%;
    }
    .ms-col-md-pull-5 {
        right: 41.66666667%;
    }
    .ms-col-md-pull-4 {
        right: 33.33333333%;
    }
    .ms-col-md-pull-3 {
        right: 25%;
    }
    .ms-col-md-pull-2 {
        right: 16.66666667%;
    }
    .ms-col-md-pull-1 {
        right: 8.33333333%;
    }
    .ms-col-md-pull-0 {
        right: auto;
    }
    .ms-col-md-push-12 {
        left: 100%;
    }
    .ms-col-md-push-11 {
        left: 91.66666667%;
    }
    .ms-col-md-push-10 {
        left: 83.33333333%;
    }
    .ms-col-md-push-9 {
        left: 75%;
    }
    .ms-col-md-push-8 {
        left: 66.66666667%;
    }
    .ms-col-md-push-7 {
        left: 58.33333333%;
    }
    .ms-col-md-push-6 {
        left: 50%;
    }
    .ms-col-md-push-5 {
        left: 41.66666667%;
    }
    .ms-col-md-push-4 {
        left: 33.33333333%;
    }
    .ms-col-md-push-3 {
        left: 25%;
    }
    .ms-col-md-push-2 {
        left: 16.66666667%;
    }
    .ms-col-md-push-1 {
        left: 8.33333333%;
    }
    .ms-col-md-push-0 {
        left: auto;
    }
    .ms-col-md-offset-12 {
        margin-left: 100%;
    }
    .ms-col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .ms-col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .ms-col-md-offset-9 {
        margin-left: 75%;
    }
    .ms-col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .ms-col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .ms-col-md-offset-6 {
        margin-left: 50%;
    }
    .ms-col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .ms-col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .ms-col-md-offset-3 {
        margin-left: 25%;
    }
    .ms-col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .ms-col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .ms-col-md-offset-0 {
        margin-left: 0%;
    }
}


/* GENERAL COLORS */
.ms-bg-primary,
.ms-btn-primary,
.ms-alert-primary {
    background: #007bff;
}
.ms-bg-secondary,
.ms-btn-secondary,
.ms-alert-secondary {
    background: #a0a0a0;
}
.ms-bg-success,
.ms-btn-success,
.ms-alert-success {
    background: #28a745;
}
.ms-bg-danger,
.ms-btn-danger,
.ms-alert-danger {
    background: #f44336;
}
.ms-bg-warning,
.ms-btn-warning,
.ms-alert-warning {
    background: #efb400;
}
.ms-bg-info,
.ms-btn-info,
.ms-alert-info {
    background: #07c3e1;
}
.ms-bg-light,
.ms-btn-light,
.ms-alert-light {
    background: #f2f2f2;
    color: black;
}
.ms-bg-dark,
.ms-btn-dark,
.ms-alert-dark {
    background: #1c1c1c;
}

/* COLORI BORDI */
.ms-border-primary {
    border-color: #007bff;
}
.ms-border-secondary {
    border-color: #a0a0a0;
}
.ms-border-success {
    border-color: #28a745;
}
.ms-border-danger {
    border-color: #f44336;
}
.ms-border-warning{
    border-color: #efb400;
}
.ms-border-info {
    border-color: #07c3e1;
}
.ms-border-light {
    border-color: #f2f2f2;
}
.ms-border-dark {
    border-color: #1c1c1c;
}

/* COLORI TESTO */
.ms-text-primary {
    color: #007bff;
}
.ms-text-secondary {
    color: #a0a0a0;
}
.ms-text-success {
    color: #28a745;
}
.ms-text-danger {
    color: #f44336;
}
.ms-text-warning{
    color: #efb400;
}
.ms-text-info {
    color: #07c3e1;
}
.ms-text-light {
    color: #f2f2f2;
}
.ms-text-dark {
    color: #1c1c1c;
}

/* TITOLO + ICONA */
.ms-title-with-icon {
}


.ms-title-with-icon .ms-title-icon {
    display: block;
    padding: 5px 0;
}

.ms-title-with-icon.ms-title-icon-align-top,
.ms-title-with-icon.ms-title-icon-align-bottom {
    text-align: center;
}

.ms-title-with-icon.ms-title-icon-align-right {
    text-align: right;
}

.ms-title-with-icon.ms-title-icon-align-top .ms-title-icon {
    margin-bottom: 5px;
}

.ms-title-with-icon.ms-title-icon-align-left .ms-title-icon {
    float: left;
    margin-right: 15px;
}

.ms-title-with-icon.ms-title-icon-align-bottom .ms-title-icon {
    margin-top: 5px;
}

.ms-title-with-icon.ms-title-icon-align-right .ms-title-icon {
    float: right;
    margin-left: 15px;
}