/* SITE */
a {
    color: #0d98c1;
}

a:hover {
    text-decoration: underline;
}

.skin-1 .navbar-minimalize {
    background: #1ab394;
    border-color: #19aa8d;
    color: white;
}

.fw360_menu_switches > .fw360_menu_switch {
    background: #1ab394;
    border: 1px solid #19aa8d;
}

.skin-1 .nav.navbar-top-links .dropdown-menu li > a:hover {
    color: #1ab394;
}

.modal-confirm.modal-dialog .modal-success {
    background-color: #0d98c1;
}

.ui-autocomplete .ui-menu-item .ui-state-active,
div.tagsinput span.tag {
    border: 1px solid #0d98c1 !important;
    background: #0d98c1 !important;
    font-weight: normal;
    color: #ffffff !important;
    box-shadow: none !important;
}

/* SIDEBAR */
.menu_superadmin_message.role_0 {
    background: rgba(0,0,0,.15);
}

.navbar-default,
.skin-1 .nav-header {
    background-color: #001921;
}

.skin-1 .navbar-default .nav > li {
    border-color: #19aa8d !important;
}

.skin-1 .navbar-default .nav > li > a:hover,
.skin-1 .navbar-default .nav > li > a:focus,
.skin-1 .sidebar-collapse .nav> li.active,
.skin-1  .sidebar-collapse ul.nav-second-level,
.skin-1 .sidebar-collapse .divider h4 {
    background-color: #00151c;
}

/* BG */
.gray-bg,
.bg-muted {
    background-color: #f3f3f4;
}
.white-bg {
    background-color: #ffffff;
}
.blue-bg,
.bg-success {
    background-color: #0d98c1;
    color: #ffffff;
}
.navy-bg,
.bg-primary {
    background-color: #1ab394;
    color: #ffffff;
}
.lazur-bg,
.bg-info {
    background-color: #0d98c1;
    color: #ffffff;
}
.yellow-bg,
.bg-warning {
    background-color: #f8ac59;
    color: #ffffff;
}
.red-bg,
.bg-danger {
    background-color: #ed5565;
    color: #ffffff;
}
.black-bg {
    background-color: #262626;
}
.panel-primary {
    border-color: #19aa8d;
}
.panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #19aa8d;
}
.panel-success {
    border-color: #1c84c6;
}
.panel-success > .panel-heading {
    background-color: #0d98c1;
    border-color: #0d98c1;
    color: #ffffff;
}
.panel-info {
    border-color: #23c6c8;
}
.panel-info > .panel-heading {
    background-color: #0d98c1;
    border-color: #0d98c1;
    color: #ffffff;
}
.panel-warning {
    border-color: #f8ac59;
}
.panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #ffffff;
}
.panel-danger {
    border-color: #ed5565;
}
.panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff;
}

.pace .pace-progress {
    background: #1ab394;
}

.progress-bar {
    background-color: #1ab394;
}

.progress-bar-navy-light {
    background-color: #1ab394;
}
.progress-bar-success {
    background-color: #1c84c6;
}
.progress-bar-info {
    background-color: #23c6c8;
}
.progress-bar-warning {
    background-color: #f8ac59;
}
.progress-bar-danger {
    background-color: #ed5565;
}

/* TEXT */
.text-navy {
    color: #1ab394;
}
.text-primary {
    color: inherit;
}
.text-success {
    color: #0d98c1;
}
.text-info {
    color: #001921;
}
.text-warning {
    color: #f8ac59;
}
.text-danger {
    color: #ed5565;
}
.text-muted {
    color: #888888;
}
.text-white {
    color: #ffffff;
}

/* BADGE */
.label-primary,
.badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-success,
.badge-success {
    background-color: #0d98c1;
    color: #FFFFFF;
}
.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-info,
.badge-info {
    background-color: #0d98c1;
    color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
    background-color: #262626;
    color: #FFFFFF;
}
.label-white,
.badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}
.label-white,
.badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}

/* PULSANTI */
.btn-primary.btn-outline {
    color: #1ab394;
    background: white;
}
.btn-success.btn-outline {
    color: #0d98c1;
}
.btn-info.btn-outline {
    color: #0d98c1;
}
.btn-warning.btn-outline {
    color: #f8ac59;
}
.btn-danger.btn-outline {
    color: #ed5565;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff !important;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #19aa8d;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    background-color: #19aa8d !important;
    border-color: #19aa8d !important;
    color: #FFFFFF !important;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    opacity: 0.8;
}
.btn-success {
    background: #0d98c1 !important;
    border-color: #0d98c1 !important;
    color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
    background: #0c7fa0 !important;
    border-color: #0c7fa0;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    opacity: 0.8;
}
.btn-info {
    background-color: #0d98c1;
    border-color: #0d98c1;
    color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
    background-color: #0c7fa0 !important;
    border-color: #0c7fa0 !important;
    color: #FFFFFF !important;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #19aa8d !important;
    border-color: #19aa8d !important;
}
.btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    color: #cacaca;
}
.btn-warning {
    background-color: #f8ac59;
    border-color: #f7a54a;
    color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning.active:focus {
    background-color: #f7a54a !important;
    border-color: #f7a54a !important;
    color: #FFFFFF !important;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f7a54a !important;
    border-color: #f7a54a !important;
}
.btn-danger {
    background-color: #ed5565;
    border-color: #ec4758;
    color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
    background-color: #ec4758 !important;
    border-color: #ec4758 !important;
    color: #FFFFFF !important;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #ec4758 !important;
    border-color: #ec4758 !important;
}
.btn-link {
    color: inherit;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    color: #1ab394;
    text-decoration: none;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
    color: #cacaca;
}
.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white,
.btn-white:active:focus,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
    color: #cacaca;
}

.btn-outline {
    border: 1px solid;
    background: white !important;
}

.select2.select2-container--default.select2-container--focus .select2-selection--single, .select2.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #1ab394;
}

#form.tabcontrol > .steps > ul > li.current {
    box-shadow: #1ab394 0px -1.5px 0px, inset #ebebeb 1px 0px 0px 0px, inset #ebebeb -1px 0px 0px 0px;
}

#form.tabcontrol > .steps > ul > li.current a {
    color: #1ab394;
}

.icheckbox_square-green, .iradio_square-green {
    background-image: url('../../vendor/plugins/iCheck/green-clear.png') !important;
}

.toast {
    background-color: #1ab394 !important;
}
.toast-success {
    background-color: #1ab394 !important;
}
.toast-error {
    background-color: #ed5565 !important;
}
.toast-info {
    background-color: #23c6c8 !important;
}
.toast-warning {
    background-color: #f8ac59 !important;
}

.form-control:focus, .single-line:focus,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-single .chosen-drop,
.ms-options-wrap.ms-active button,
.ms-options-wrap button:focus {
    border-color: #1ab394;
}

.notification_box .widget.active {
    border-color: #1ab394;
}

.notification_box .widget.active:after {
    background: #1ab394;
}

.notification_box .widget .count_label {
    background: #1c1c1c;
    border: 1px solid #1ab394;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #1ab394 !important;
    color: #fff;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #1ab394 !important;
    color: #fff;
}

.destination_container .widget.active {
    background-color: #1ab394 !important;
    color: #fff !important;
}

.bal-editor-container .bal-content .bal-content-main .sortable-row-content .element-content.active {
    -webkit-box-shadow: #1ab394 0px 0px 0px 2px;
    box-shadow: #1ab394 0px 0px 0px 2px;
}


.bal-editor-container .bal-content .bal-content-main .sortable-row.active {
    background: rgba(26, 179, 148, 0.2);
}

.circlePreloader > div {
    border-top: 5px solid #1ab394;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu li a.opt.active {
    background: #1ab394;
}

.bootstrap-select .dropdown-menu li a.opt.active .glyphicon {
    background: white;
    color: #1ab394;
}

.bootstrap-select li.dropdown-header span {
    color: #1ab394;
}

#newsletterCampaignFilters li a.active {
    color: #1ab394;
    font-weight: 500;
}

.bal-left-menu-container .bal-elements .bal-elements-container .change-image {
    background-color: #1ab394 !important;
    border: 1px solid #19aa8d;
}

.bal-left-menu-container .bal-elements .bal-elements-container .change-image:hover {
    background-color: #19aa8d !important;
    border: 1px solid #19aa8d;
}

#mobileTabsNavigation {
    background: #1ab394;
    border-top: 1px solid #19aa8d;
}

#mobileTabsNavigation i {
    background: #19aa8d;
    color: white;
}
.folder-list li a.active {
    color: #1ab394;
}