.menu_order .dd-handle {
    color: inherit;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
    padding: 10px;
    height: 40px;
}

.menu_order .divider .dd-handle {
    background-color: rgba(3, 169, 244, 0.2);
    border-color: rgba(3, 169, 244, 0.2);
}

.menu_order .dd-handle a {
    float: right;
    font-size: 9px;
}

.menu_order .inactive button {
    color: #a94442;
}

.menu_order span.label {
    margin-right: 10px;
}
.menu_order .dd-item > button {
    font-family: 'Font Awesome 5 Free';
    height: 34px;
    width: 33px;
    color: #c1c1c1;
}
.menu_order .dd-item > button:before {
    content: "\f067";
}
.menu_order .dd-item > button[data-action="collapse"]:before {
    content: "\f068";
}

#modules_preset_configuration .show_on_edit {
    display: none;
}