/* PRENOTAZIONE MOBILE */

#footer-bar {
    bottom:0;
    height:48px;
    left:0;
    position:fixed;
    display:none;
    right:0;
    z-index:100;
}


#footer-bar > a {
    z-index:300;
    color: #fff;
    float:left;
    height:48px;
    line-height:50px;
    text-align:center;
    width:50%;
    text-decoration:none;
    font-size:1.3em;
}

#footer-bar .actioncall {
    box-sizing:border-box;
    padding-right:20px;
}

#footer-bar .actionbook {
    box-sizing:border-box;
    padding-left:20px;
}

#footer-bar_center {
    bottom: 0;
    top: 0;
    left: 50%;
    position: absolute;
    z-index: 2;
    margin-left: -20px;
}

#footer-bar > a > span#footer-bar-align {
    text-transform:uppercase;
}

#footer-bar_round {
    background-color: #fff;
    bottom:-15px;
    height:78px;
    left:50%;
    margin-left:-40px;
    position:absolute;
    width:78px;
    border-radius:100%;
    -webkit-border-radius:100%;
    z-index:1;
}

#footer-bar .mb_mail {
    line-height: 1;
    display: block;
}

#footer-bar .mb_mail i {
    line-height: 45px;  font-size: 37px;
}

#footer-bar .fa-close {
    padding-left: 5px;
}

@media screen and (max-width: 1200px) {
    body {
        margin-bottom: 48px;
    }
    #footer-bar {
        display:inline !important;
    }
}