#toast-container.liveSalesPopup {
    right: 13px;
}

#toast-container.liveSalesPopup .toast {
    background: white;
    color: black;
    padding: 15px 15px 15px 90px;
    width: 100%;
    opacity: 1;
    max-width: 360px;
    line-height: 16px;
}

#toast-container.liveSalesPopup .toast .toast-title {
    font-size: 12px;
    display: block;
    font-weight: normal;
}


#toast-container.liveSalesPopup .toast .toast-message a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: block;
    padding: 5px 0;
}

#toast-container.liveSalesPopup .toast .toast-message small {
    opacity: 0.7;
    line-height:  1;
}

#toast-container.liveSalesPopup .toast .toast-close-button {
    color: black;
}



#toast-container.liveSalesPopup .toast img {
    float: left;
    width: 60px;
    height: 60px;
    object-fit: cover;
    position: absolute;
    left: 15px;
    top: 15px;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 10px;
}

@media (max-width: 575px) {
    #toast-container.liveSalesPopup {
        left: 0;
        bottom: 0;
        right: 0;
    }
    #toast-container.liveSalesPopup .toast {
        border-radius: 0;
        margin: 0;
    }
}