<div class="moove-gdpr-tab-main-conent">
    <h2>Marketing</h2>
    <p>Questi servizi consentono di utilizzare i Dati dell’Utente per finalità di comunicazione commerciale in diverse forme pubblicitarie, quali il banner, anche in relazione agli interessi dell’Utente. <br>
        Ciò non significa che tutti i Dati Personali vengano utilizzati per questa finalità. Dati e condizioni di utilizzo sono indicati di seguito. <br>
        Alcuni dei servizi di seguito indicati potrebbero utilizzare Cookie per identificare l’Utente o utilizzare la tecnica del behavioral retargeting, ossia visualizzare annunci pubblicitari personalizzati in base agli interessi e al comportamento dell’Utente, rilevati anche al di fuori di questa Applicazione. Per avere maggiori informazioni in merito, ti suggeriamo di verificare le informative privacy dei rispettivi servizi. </p>

    <b>Remarketing e behavioral targeting</b>
    <p>
        Questo tipo di servizi consente a questa Applicazione ed ai suoi partner di comunicare, ottimizzare e servire annunci pubblicitari basati sull'utilizzo passato di questa Applicazione da parte dell'Utente.<br>
        Questa attività viene effettuata tramite il tracciamento dei Dati di Utilizzo e l'uso di Cookie, informazioni che vengono trasferite ai partner a cui l'attività di remarketing e behavioral targeting è collegata.<br>
        In aggiunta alle possibilità di effettuare l'opt-out offerte dai servizi di seguito riportati, l'Utente può optare per l'esclusione rispetto alla ricezione dei cookie relativi ad un servizio terzo, visitando la <a href="http://optout.networkadvertising.org/" target="_blank" rel="noopener">pagina di opt-out del Network Advertising Initiative</a>.
    </p>
    <h4>AdWords Remarketing (Google Inc.)</h4>
    <p>
        AdWords Remarketing è un servizio di remarketing e behavioral targeting fornito da Google Inc. che collega l'attività di questa Applicazione con il network di advertising Adwords ed il Cookie Doubleclick.<br>
        Dati Personali raccolti: Cookie e Dati di utilizzo.<br>
        Luogo del trattamento: USA – <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> – <a href="https://www.google.com/settings/ads/onweb/optout" target="_blank" rel="noopener">Opt Out</a>.
    </p>

    <h4>Facebook Custom Audience (Facebook, Inc.)</h4>
    <p>
        Facebook Custom Audience è un servizio di Remarketing e Behavioral Targeting fornito da Facebook, Inc. che collega l'attività di questa Applicazione con il network di advertising Facebook.<br>
        Dati Personali raccolti: Cookie e email.<br>
        Luogo del trattamento: USA – <a href="https://www.facebook.com/about/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> – <a href="https://www.aboutads.info/choices/" target="_blank" rel="noopener">Opt Out</a>.
    </p>

    <h4>Facebook Remarketing (Facebook, Inc.)</h4>
    <p>
        Facebook Remarketing è un servizio di Remarketing e Behavioral Targeting fornito da Facebook, Inc. che collega l'attività di questa Applicazione con il network di advertising Facebook.<br>
        Dati Personali raccolti: Cookie e Dati di utilizzo.<br>
        Luogo del trattamento: USA – <a href="https://www.facebook.com/about/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> – <a href="https://www.aboutads.info/choices/" target="_blank" rel="noopener">Opt Out</a>.
    </p>
    <h4>Remarketing con Google Analytics per la pubblicità display (Google Inc.)</h4>
    <p>
        Google Analytics per la pubblicità display è un servizio di remarketing e behavioral targeting fornito da Google Inc. che collega l'attività di tracciamento effettuata da Google Analytics e dai suoi Cookie con il network di advertising Adwords ed il Cookie Doubleclick.<br>
        Dati Personali raccolti: Cookie e Dati di utilizzo.<br>
        Luogo del trattamento: USA – <a href="https://www.google.com/intl/it/policies/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> – <a href="https://www.google.com/settings/ads/onweb/optout" target="_blank" rel="noopener">Opt Out</a>.
    </p>
    <b>Monitoraggio dell'infrastruttura</b>
    <p>Questi servizi permettono a questa Applicazione di monitorare l’utilizzo ed il comportamento di componenti della stessa, per consentirne il miglioramento delle prestazioni e delle funzionalità, la manutenzione o la risoluzione di problemi. <br>
        I Dati Personali trattati dipendono dalle caratteristiche e della modalità d’implementazione di questi servizi, che per loro natura filtrano l’attività di questa Applicazione. </p>

    <h2>Ulteriori informazioni sui Dati Personali</h2>
    <b>Ulteriori diritti degli Utenti</b>
    <p>Mai e per nessuna ragione vendiamo o affittiamo i Dati degli Utenti a terze parti. I soli usi dei Dati sono quelli evidenziati in questa policy. Gli Utenti sono gli unici proprietari dei loro Dati e possono richiederne la modifica o la cancellazione in ogni momento.</p>
    <h2>Diritti dell’Utente</h2>
    <p>Gli Utenti possono esercitare determinati diritti con riferimento ai Dati trattati dal Titolare.</p>
    <p>In particolare, l’Utente ha il diritto di:</p>
    <ul>
        <li><b>revocare il consenso in ogni momento.</b> L’Utente può revocare il consenso al trattamento dei propri Dati Personali precedentemente espresso.</li>
        <li><b>opporsi al trattamento dei propri Dati.</b> L’Utente può opporsi al trattamento dei propri Dati quando esso avviene su una base giuridica diversa dal consenso. Ulteriori dettagli sul diritto di opposizione sono indicati nella sezione sottostante.</li>
        <li><b>accedere ai propri Dati.</b> L’Utente ha diritto ad ottenere informazioni sui Dati trattati dal Titolare, su detereminati aspetti del trattamento ed a ricevere una copia dei Dati trattati.</li>
        <li><b>verificare e chiedere la rettificazione.</b> L’Utente può verificare la correttezza dei propri Dati e richiederne l’aggiornamento o la correzione.</li>
        <li><b>ottenere la limitazione del trattamento.</b> Quando ricorrono determinate condizioni, l’Utente può richiedere la limitazione del trattamento dei propri Dati. In tal caso il Titolare non tratterà i Dati per alcun altro scopo se non la loro conservazione.</li>
        <li><b>ottenere la cancellazione o rimozione dei propri Dati Personali.</b> Quando ricorrono determinate condizioni, l’Utente può richiedere la cancellazione dei propri Dati da parte del Titolare.</li>
        <li><b>ricevere i propri Dati o farli trasferire ad altro titolare.</b> L’Utente ha diritto di ricevere i propri Dati in formato strutturato, di uso comune e leggibile da dispositivo automatico e, ove tecnicamente fattibile, di ottenerne il trasferimento senza ostacoli ad un altro titolare. Questa disposizione è applicabile quando i Dati sono trattati con strumenti automatizzati ed il trattamento è basato sul consenso dell’Utente, su un contratto di cui l’Utente è parte o su misure contrattuali ad esso connesse.</li>
        <li><b>proporre reclamo.</b> L’Utente può proporre un reclamo all’autorità di controllo della protezione dei dati personali competente o agire in sede giudiziale.</li>
    </ul>
    <b>Dettagli sul diritto di opposizione</b>

    <p>Quando i Dati Personali sono trattati nell’interesse pubblico, nell’esercizio di pubblici poteri di cui è investito il Titolare oppure per perseguire un interesse legittimo del Titolare, gli Utenti hanno diritto ad opporsi al trattamento per motivi connessi alla loro situazione particolare.<br>
        Si fa presente agli Utenti che, ove i loro Dati fossero trattati con finalità di marketing diretto, possono opporsi al trattamento senza fornire alcuna motivazione. Per scoprire se il Titolare tratti dati con finalità di marketing diretto gli Utenti possono fare riferimento alle rispettive sezioni di questo documento.</p>
    <b>Come esercitare i diritti</b>
    <p>Per esercitare i diritti dell’Utente, gli Utenti possono indirizzare una richiesta agli estremi di contatto del Titolare indicati in questo documento. Le richieste sono depositate a titolo gratuito e evase dal Titolare nel più breve tempo possibile, in ogni caso entro un mese.</p>
</div>