<div class="moove-gdpr-tab-main-conent">
    <h2>Necessari</h2>
    <p>I Cookie sono costituiti da porzioni di codice installate all'interno del browser che assistono il Titolare nell’erogazione del servizio in base alle finalità descritte. Alcune delle finalità di installazione dei Cookie potrebbero, inoltre, necessitare del consenso dell'Utente.</p>
    <h2>Cookie tecnici e di statistica aggregata</h2>
    <b>Attività strettamente necessarie al funzionamento</b>
    <p>Questa Applicazione utilizza Cookie per salvare la sessione dell'Utente e per svolgere altre attività strettamente necessarie al funzionamento dello stesso, ad esempio in relazione alla distribuzione del traffico.</p>
    <b>Attività di salvataggio delle preferenze, ottimizzazione e statistica</b>
    <p>Questa Applicazione utilizza Cookie per salvare le preferenze di navigazione ed ottimizzare l'esperienza di navigazione dell'Utente. Fra questi Cookie rientrano, ad esempio, quelli per impostare la lingua e la valuta o per la gestione di statistiche da parte del Titolare del sito. </p>
    <b>Altre tipologie di Cookie o strumenti terzi che potrebbero farne utilizzo</b>
    <p>Alcuni dei servizi elencati di seguito raccolgono statistiche in forma aggregata e potrebbero non richiedere il consenso dell'Utente o potrebbero essere gestiti direttamente dal Titolare – a seconda di quanto descritto – senza l'ausilio di terzi. <br>
        Qualora fra gli strumenti indicati in seguito fossero presenti servizi gestiti da terzi, questi potrebbero – in aggiunta a quanto specificato ed anche all’insaputa del Titolare – compiere attività di tracciamento dell’Utente. Per informazioni dettagliate in merito, si consiglia di consultare le privacy policy dei servizi elencati. </p>
    <b>Interazione con social network e piattaforme esterne</b>
    <p>Questi servizi permettono di effettuare interazioni con i social network, o con altre piattaforme esterne, direttamente dalle pagine di questa Applicazione. <br>
        Le interazioni e le informazioni acquisite da questa Applicazione sono in ogni caso soggette alle impostazioni privacy dell’Utente relative ad ogni social network. <br>
        Nel caso in cui sia installato un servizio di interazione con i social network, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato. </p>
    <b>Pulsante Mi Piace e widget sociali di Facebook (Facebook, Inc.)</b>
    <p>Il pulsante “Mi Piace" e i widget sociali di Facebook sono servizi di interazione con il social network Facebook, forniti da Facebook, Inc. <br>
        Dati personali raccolti: Cookie e Dati di utilizzo. <br>
        Luogo del trattamento: USA – <a href="https://www.facebook.com/privacy/explanation" target="_blank">Privacy Policy</a>
    </p>
</div>