<div class="moove-gdpr-tab-main-conent">
    <p>I cookie per le preferenze consentono a un sito web di ricordare le informazioni che influenzano il modo in cui il sito si comporta o si presenta, come la lingua preferita o la regione in cui ti trovi.</p>
    <p><b>Attività di salvataggio delle preferenze, ottimizzazione e statistica</b></p>
    <p>Questa Applicazione utilizza Cookie per salvare le preferenze di navigazione ed ottimizzare l’esperienza di navigazione dell’Utente. Fra questi Cookie rientrano, ad esempio, quelli per impostare la lingua e la valuta o per la gestione di statistiche da parte del Titolare del sito.</p>
</div>