<div class="moove-gdpr-tab-main-conent">
    <h2>Statistiche</h2>
    <p>I servizi contenuti nella presente sezione permettono al Titolare del Trattamento di monitorare e analizzare i dati di traffico e servono a tener traccia del comportamento dell’Utente. </p>
    <b>Google Analytics (Google Inc.)</b>
    <p>Google Analytics è un servizio di analisi web fornito da Google Inc. (“Google”). Google utilizza i Dati Personali raccolti allo scopo di tracciare ed esaminare l’utilizzo di questa Applicazione, compilare report e condividerli con gli altri servizi sviluppati da Google.<br>
        Google potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.<br>
        Dati personali raccolti: Cookie e Dati di utilizzo.<br>
        Luogo del trattamento: USA – <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank" rel="noopener">Privacy Policy</a> – <a href="http://tools.google.com/dlpage/gaoptout?hl=it" target="_blank" rel="noopener">Opt Out</a></p>
    <b>Google Analytics con IP anonimizzato (Google Inc.)</b>
    <p>Google Analytics è un servizio di analisi web fornito da Google Inc. (“Google”). Google utilizza i Dati Personali raccolti allo scopo di tracciare ed esaminare l’utilizzo di questa Applicazione, compilare report e condividerli con gli altri servizi sviluppati da Google.<br>
        Google potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.<br>
        Questa integrazione di Google Analytics rende anonimo il tuo indirizzo IP. L’anonimizzazione funziona abbreviando entro i confini degli stati membri dell’Unione Europea o in altri Paesi aderenti all’accordo sullo Spazio Economico Europeo l’indirizzo IP degli Utenti. Solo in casi eccezionali, l’indirizzo IP sarà inviato ai server di Google ed abbreviato all’interno degli Stati Uniti.
    </p>
    <b>Dati Personali raccolti: Cookie e Dati di utilizzo.</b>
    <p>Luogo del trattamento: USA – <a href="https://www.google.com/intl/it/policies/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> – <a href="https://tools.google.com/dlpage/gaoptout?hl=it" target="_blank" rel="noopener">Opt Out</a>.</p>
    <b>Monitoraggio conversioni di Facebook Ads (Facebook, Inc.)</b>
    <p>Il monitoraggio conversioni di Facebook Ads è un servizio di statistiche fornito da Facebook, Inc. che collega i dati provenienti dal network di annunci Facebook con le azioni compiute all’interno di questa Applicazione.</p>
    <p>Dati Personali raccolti: Cookie e Dati di utilizzo.</p>
    <p>Luogo del trattamento: USA – <a href="https://www.facebook.com/about/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.</p>
    <b>Monitoraggio conversioni di Google AdWords (Google Inc.)</b>
    <p>Il monitoraggio conversioni di Google AdWords è un servizio di statistiche fornito da Google Inc. che collega i dati provenienti dal network di annunci Google AdWords con le azioni compiute all’interno di questa Applicazione.</p>
    <p>Dati Personali raccolti: Cookie e Dati di utilizzo.</p>
    <p>Luogo del trattamento: USA – <a href="https://www.google.com/intl/it/policies/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.</p>
    <b>Estensione Display Advertisers per Google Analytics (Google Inc.)</b>
    <p>Google Analytics su questa Applicazione potrebbe utilizzare la pubblicità basata sugli interessi di Google, dati sull’audience di terze parti ed informazioni dal Cookie DoubleClick per estendere le statistiche con dati demografici, interessi e dati sulle interazioni con gli annunci pubblicitari.</p>
    <p>Dati Personali raccolti: Cookie e Dati di utilizzo.</p>
    <p>Luogo del trattamento: USA – <a href="https://www.google.com/intl/policies/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> – <a href="https://tools.google.com/dlpage/gaoptout?hl=it" target="_blank" rel="noopener">Opt Out</a>.</p>
    <b>Visualizzazione di contenuti da piattaforme esterne</b>
    <p>Questi servizi permettono di visualizzare contenuti ospitati su piattaforme esterne direttamente dalle pagine di questa Applicazione e di interagire con essi.<br>
        Nel caso in cui sia installato un servizio di questo tipo, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.</p>
    <b>Widget Video YouTube (Google Inc.)</b>
    <p>YouTube è un servizio di visualizzazione di contenuti video gestito da Google Inc. che permette a questa Applicazione di integrare tali contenuti all’interno delle proprie pagine.</p>
    <p>Dati Personali raccolti: Cookie e Dati di utilizzo.</p>
    <p>Luogo del trattamento: USA – <a href="http://www.google.it/intl/it/policies/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.</p>
    <b>Google Fonts (Google Inc.)</b>
    <p>Google Fonts è un servizio di visualizzazione di stili di carattere gestito da Google Inc. che permette a questa Applicazione di integrare tali contenuti all’interno delle proprie pagine.<br>
        Dati personali raccolti: Cookie e Dati di utilizzo.<br>
        Luogo del trattamento: USA – <a href="http://www.google.it/intl/en/policies/privacy/" target="_blank" rel="noopener">Privacy Policy</a></p>
</div>